<div class="position-relative border border-2" [style]="{'height': canvasHeight + 'px', 'width': canvasWidth + 'px'}">
    <binary-image-drawer #imageDrawer class="col position-absolute top-0 start-0 p-0 h-100 w-100"
                         [canvasHeight]="canvasHeight" [canvasWidth]="canvasWidth"></binary-image-drawer>
    <canvas #canvasPoints class="col position-absolute top-0 start-0 p-0 h-100 w-100"
            [height]="canvasHeight*canvasScale" [width]="canvasWidth*canvasScale"></canvas>
</div>