<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Source image</h2>
            <canvas class="border border-2 h-auto w-100" width="400" height="400"
                    #drawingCanvas
                    (mousedown)="startDrawing($event)"
                    (touchstart)="startDrawing($event)"

                    (mousemove)="draw($event)"
                    (touchmove)="draw($event)"

                    (mouseup)="stopDrawing()"
                    (touchend)="stopDrawing()"
            >
            </canvas>
            <app-color-selector (color)="brushColor = $event" (size)="brushSize = $event"></app-color-selector>
        </div>
        <div class="col-md-6">
            <h2>
                Generated Image
                <span class="spinner ms-2" *ngIf="isRendering"></span>
            </h2>
            <binary-image-drawer class="border border-2" [canvasWidth]="400" [canvasHeight]="400"
                                 #generatedImage></binary-image-drawer>
            <p>{{modelDetails}}</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="mt-2  col-md-6">
            <button class="btn btn-primary me-2" (click)="loadImage()">Load image</button>
            <button class="btn btn-primary" (click)="resetDrawing()">Reset</button>
        </div>
        <div class="mt-2 col-md-6">
            <button class="btn btn-primary" (click)="loadModel()">Load Model</button>
        </div>
    </div>
</div>

<loading-screen [visible]="progress.total > 0" [converter]="ProgressUtils.Converters.Bytes"
                [current]="progress.loaded" [total]="progress.total"/>