<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Source image</h2>
            <canvas class="border border-2 h-auto w-100" width="400" height="400"
                    #drawingCanvas
                    (mousedown)="startDrawing($event)"
                    (touchstart)="startDrawing($event)"

                    (mousemove)="draw($event)"
                    (touchmove)="draw($event)"

                    (mouseup)="stopDrawing()"
                    (touchend)="stopDrawing()"
            >
            </canvas>
            <app-color-selector (color)="brushColor = $event" (size)="brushSize = $event"></app-color-selector>
        </div>
        <div class="col-md-6">
            <h2>
                Generated Image
                <span class="spinner circle ms-2" *ngIf="isRendering"></span>
            </h2>
            <binary-image-drawer class="border border-2" [canvasWidth]="400" [canvasHeight]="400"
                                 #generatedImage></binary-image-drawer>
            <p>{{modelDetails}}</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="mt-2  col-md-6">
            <button class="btn btn-primary me-2" (click)="loadImage()">Load image</button>
            <button class="btn btn-primary" (click)="resetDrawing()">Reset</button>
        </div>
        <div class="mt-2 col-md-6">
            <button class="btn btn-primary dropdown-toggle"
                    title="Load training data"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Load Model
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item pointer" (click)="loadModel()">File...</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item pointer" (click)="loadPredefined(['cartoon-32-32.bin'])">cartoon-32-to-32
                        (12.5 MB)</a>
                </li>
                <li>
                    <a class="dropdown-item pointer" (click)="loadPredefined(['cartoon-32-64.bin'])">cartoon-32-to-64
                        (33.6 MB)</a>
                </li>
                <li>
                    <a class="dropdown-item pointer" (click)="loadPredefined(['cartoon-32-128.bin'])">cartoon-32-to-128
                        (215 MB)</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<loading-screen [visible]="progress.visible" [converter]="progress.converter"
                [current]="progress.loaded" [total]="progress.total"/>