.fa-ignore-lh {
    line-height: inherit !important;
}


.btn.btn-outline-pink {
    --pink-color: #ce0058;
    --pink-color-shadow: #ce00587f;

    color: var(--pink-color);
    border-color: var(--pink-color);
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: var(--pink-color);
    border-color: var(--pink-color);
}

.btn-check:focus + .btn-outline-pink, .btn-outline-pink:focus {
    box-shadow: 0 0 0 0.25rem var(--pink-color-shadow);
}

.btn-check:checked + .btn-outline-pink, .btn-check:active + .btn-outline-pink, .btn-outline-pink:active, .btn-outline-pink.active, .btn-outline-pink.dropdown-toggle.show {
    color: #fff;
    background-color: var(--pink-color);
    border-color: var(--pink-color);
}

.btn-check:checked + .btn-outline-pink:focus, .btn-check:active + .btn-outline-pink:focus, .btn-outline-pink:active:focus, .btn-outline-pink.active:focus, .btn-outline-pink.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem var(--pink-color-shadow);
}

.btn-outline-pink:disabled, .btn-outline-pink.disabled {
    color: var(--pink-color);
    background-color: transparent;
}


.btn.btn-outline-green {
    --green-color: #92c717;
    --green-color-shadow: #92c7177f;

    color: var(--green-color);
    border-color: var(--green-color);
}
.btn-outline-green:hover {
    color: #fff;
    background-color: var(--green-color);
    border-color: var(--green-color);
}
.btn-check:focus + .btn-outline-green, .btn-outline-green:focus {
    box-shadow: 0 0 0 0.25rem var(--green-color-shadow);
}
.btn-check:checked + .btn-outline-green, .btn-check:active + .btn-outline-green, .btn-outline-green:active, .btn-outline-green.active, .btn-outline-green.dropdown-toggle.show {
    color: #fff;
    background-color: var(--green-color);
    border-color: var(--green-color);
}
.btn-check:checked + .btn-outline-green:focus, .btn-check:active + .btn-outline-green:focus, .btn-outline-green:active:focus, .btn-outline-green.active:focus, .btn-outline-green.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem var(--green-color-shadow);
}
.btn-outline-green:disabled, .btn-outline-green.disabled {
    color: var(--green-color);
    background-color: transparent;
}